@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: rgb(91, 188, 245); 
    --secondary-color: rgb(0, 255, 255); 
    --primary-bg-color: #081b29;     
    --secondary-bg-color: #143146;        
    --white-color: white;        
    --shadow-first-color: rgba(190, 171, 171, 0.2);  
    --shadow-second-color: rgba(185, 185, 185, 0.19);           
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    border: none;
}
body{
    background-color: var(--primary-bg-color);
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 25px;
}
h2 {
    font-weight: 600;
    font-size: 18px;
}

h1, h2 {
    color: var(--white-color);
}

/*-------------Container generic--------------*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.container.header{
    align-items: center;
    justify-content: space-between;
}

.container.home{
    gap: 50px;
}

/*---------------Sections-----------------*/

#Home {
    padding: 120px 60px;
}

header{
    background-color: var(--secondary-bg-color);
}

/*--------------------Header---------------------------*/

header{
    width: 100%;
    padding: 20px 60px;
    position: sticky;
    top: 0;
    z-index: 1;
}
    header .bx-menu {
        display: none;
        cursor: pointer;
        font-size: 20px;
    }

    nav{
        text-align: end;
    }   
        nav a{
            font-weight: 400;
        }
        nav a, header .bx-menu{
            color: var(--white-color);
            transition: color 0.5s;
        }
        nav a:hover, header .bx-menu:hover{
            color: var(--secondary-color);
        }
        nav li {
            display: inline-block;
            margin-left: 25px;
        }

/*--------------------Home---------------------------*/

.profile-info h1{
    font-size: 42px;
}
.profile-info h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
}
.profile-info p {
    font-size: 15px;
    margin-bottom: 15px;
    color: var(--white-color);
}

.profile-info-icons {
    width: 310px;
}
    .profile-info-icons a>i {
        color: var(--primary-color);
        transition: 1.1s;
    }
    .profile-info-icons a>i:hover {
        transform: scale(1.1);
        color: var(--secondary-color);
    }
        .profile-info-icons a:first-of-type{
            margin-right: 30px;
        }
        .profile-info-icons a:last-of-type{
            margin-left: 30px;
        }
        .profile-info-icons i {
            font-size: 25px;
        }
    
.profile-info-image{
    min-width: 280px;
    height: 280px;
    border-radius: 50%;
    background-image: url('../img/home_picture.jpeg');
    background-size: cover;
    background-position: 0 -60px;
    background-repeat: no-repeat;
}

.profile-info-button button {
    margin-top: 20px;
    width: 220px;
    padding: 8px;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 var(--shadow-first-color), 
    0 6px 20px 0 var(--shadow-second-color);
    background-color:var(--primary-color);
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.5s;
}
.profile-info-button button:hover{
    transform: scale(0.95);
}

.fa-hand-point-left{
    font-size: 30px;
    color: var(--primary-color);
    animation: handMove 2s infinite;
    float: right;
}

@keyframes handMove {
    0% {}
    50% {
        transform: translateX(8px);
    }
    100%{
        transform: translateX(0);
    }
}